spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://mysql:3306/productdb?characterEncoding=UTF-8&serverTimezone=UTC
    username: ${MYSQL_USERNAME}
    password: ${MYSQL_PASSWORD}

  jpa:
    database: mysql
    database-platform: "org.hibernate.dialect.MySQL8Dialect"
    hibernate:
      ddl-auto: update
    open-in-view: false

toss:
  api:
    secret: ${PAYMENT_TOSS_API}

server:
  port: ${BACKEND_SERVER_PORT}
  shutdown: graceful

logging:
  file:
    name: /data/log/product.log
  logback:
    rollingpolicy:
      max-file-size: 10MB
      max-history: 14
      total-size-cap: 1GB
  level:
    root: info
