spring:
  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:mem:testdb
    username: SA
    password:

  jpa:
    database-platform: "org.hibernate.dialect.H2Dialect"
    show-sql: true
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        format_sql: true
        highlight_sql: true
#        use_sql_comments: true
    open-in-view: false

  h2:
    console:
      enabled: true

toss:
  api:
    secret: test_gsk_docs_OaPz8L5KdmQXkzRz3y47BMw6

server:
  port: 8080

logging:
  level:
    root: debug
    org.hibernate.orm.jdbc.bind: trace