name: Java CI/CD with Gradle and Docker

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  DOCKER_IMAGE: codethestudent/jle-product-service:latest

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
  
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
  
      - name: Grant execute permission to Gradle wrapper
        run: chmod +x ./gradlew
  
      - name: Clean and build the application
        run: ./gradlew clean build
  
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
  
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
  
      - name: Build and Push Docker image (multi-platform)
        run: |
          docker buildx build \
            --platform linux/amd64,linux/arm64 \
            -t $DOCKER_IMAGE \
            --push .

  deploy:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to Remote Server via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.DEPLOY_SERVER }}
          username: ${{ secrets.DEPLOY_USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: ${{ secrets.SERVER_PORT }}
          script: |
            export BACKEND_SERVER_PORT=${{ secrets.BACKEND_SERVER_PORT }}
            export MYSQL_USERNAME=${{ secrets.MYSQL_USERNAME }}
            export MYSQL_PASSWORD=${{ secrets.MYSQL_PASSWORD }}
            export PAYMENT_TOSS_API=${{ secrets.PAYMENT_TOSS_API }}
            
            cd docker-compose
            git config credential.helper store
            git pull https://${{ secrets.GIT_ID }}:${{ secrets.GIT_PASSWORD }}@github.com/shoppingmall-platform/docker-compose.git main
            
            docker pull $DOCKER_IMAGE
            docker compose pull product-service
            docker compose up -d product-service
  
  dependency-submission:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      # Generates and submits a dependency graph, enabling Dependabot Alerts for all project dependencies.
      # See: https://github.com/gradle/actions/blob/main/dependency-submission/README.md
      - name: Generate and submit dependency graph
        uses: gradle/actions/dependency-submission@af1da67850ed9a4cedd57bfd976089dd991e2582 # v4.0.0
